[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flask = "*"
flask-restful = "*"
nltk = "*"
rdflib = "*"
cogroo-interface = {git = "https://github.com/gpassero/cogroo4py.git"}
spacy = "*"
py4j = "*"
slackclient = "*"
ibm-watson = "*"
psycopg2 = "==2.7.7"
gunicorn = "*"

[requires]
python_version = "3.7"
